.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    padding: 25px;
    gap: 25px;

    flex: 1;

    align-items: stretch;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left {
    /* width: var(--split); */
    /* width: 50%; */

    gap: var(--space-m);
}

.right {
    gap: var(--space-m);
}